.transfer_form {
  z-index: 100;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  min-width: 50rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 8px;
  padding: 3rem 4rem 4rem 4rem;
}

.transfer_form form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.transfer_form form div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8rem;
}

.transfer_form button {
  border: none;
  border-radius: 0.7rem;
  background-color: #fff;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.2rem;
  color: #57cde8;
}

.transfer_form button:hover {
  background-color: rgba(255, 255, 255, 0.929);
}

.transfer_form form h1 {
  text-align: center;
  color: whitesmoke;
  font-size: 2.3rem;
}

.transfer_form form div label {
  color: whitesmoke;
}

.transfer_form form div p {
  font-size: 1.2rem;
  color: rgb(160, 6, 6);
}

.message {
  width: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0.4);
  font-family: inherit;
  font-size: 1.5rem;
  color: #333;
  padding: 0.3rem 1rem;
  border-radius: 0.7rem;
  transition: all 0.3s;
}

.message:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.6);
}

@media (max-width: 43.75em) {
  .transfer_form {
    min-width: 70%;
    padding: 3rem 4rem 4rem 4rem;
  }

  .transfer_form form {
    gap: 2rem;
  }

  .transfer_form form div {
    gap: 0.8rem;
  }

  .transfer_form button {
    border-radius: 0.7rem;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 1.2rem;
  }

  .transfer_form form h1 {
    font-size: 1.8rem;
  }

  .transfer_form form div p {
    font-size: 1.1rem;
  }

  .message {
    width: 100%;
    font-size: 1.3rem;
    padding: 0.3rem 1rem;
    border-radius: 0.7rem;
  }
}

@media (max-width: 28.125em) {
  .transfer_form {
    min-width: 90%;
    padding: 2rem 3rem 3rem 3rem;
  }

  .transfer_form form {
    gap: 1.6rem;
  }

  .transfer_form form div {
    gap: 0.6rem;
  }

  .transfer_form button {
    font-size: 1.4rem;
  }
}

@media (max-width: 21.25em) {
  .transfer_form form h1 {
    font-size: 1.6rem;
  }
  .transfer_form button {
    font-size: 1.2rem;
  }
}
