.container {
  position: fixed;
  right: 5rem;
  bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  color: whitesmoke;
  padding: 2.4rem;
  border-radius: 3rem;
  aspect-ratio: 1/1;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container span {
  cursor: pointer;
}

.container label {
  font-size: 1.1rem;
}

.container p {
  font-size: 1.4rem;
}
